body {
    background-image: url(../img/mosaicoBody.png);
  }
  
  html {
    scroll-behavior: smooth;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    nav {
        div {
            a {
                .titulo-web {
                    font-size: 45px;  
                    font-family: 'Ubuntu', sans-serif;

                }
            }
            ul {
                .boton-menu{
                    padding: 0px 10px;
                    background-color: #60d394ff;
                    margin: 10px 10px;
                    border-radius: 5px;
                    width: auto;
                    text-align:center;
                }
                .boton-menu:hover {
                    background-color: rgba(96, 211, 148, 0.350);
                }        
            } 
        }
        a .img-menu {
            width: 40px;
            align-items:center;
            margin: 5px;
        
        }
        a .img-menu:hover {
            transform: scale(0.7);
        }
    }
}

/* Implementacion metodologia BEM*/

.titulo {
    background-color: rgba(96, 211, 148, 0.350);

    & &__recomendaciones {
        text-align: center;       
    }

}

.main {
    display:block;
    flex-wrap: wrap;
    padding-left: 5px;
    justify-content: center;

    & &__recomendacion {
        text-align: center;
    }

    & &__recetas {
        background-color:rgba(96, 211, 148, 0.350);
        }

        & &__ingredientes {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    & &__video {
        width: 50%;
    }

    .section {
        justify-content: center;
        background-color: rgba(96, 211, 148, 0.250);
        padding: 10px 10px;
        font-style: italic;
        & &__titulos {
            text-align: center;
            
            
        }
    
    }
       
}



.footer {
    height: auto;
    background-color: rgba(0, 0, 0, 0.350);
    & &__area {
        text-decoration: underline;
    }
}


// Operaciones con sass

$ancho: 600px;
$opal:#ee6055ff ;
$crayola:#ffd97dff;
$tangerine:#ff9b85ff;

.main {
    & &__tarjeta {
        background-color: $crayola;
        width: $ancho / 2;
        margin: 20px 20px;
        padding: 20px 20px;       

    }

    table {
        border: 2px solid black;
        
        tbody {
            td {
                background-color: antiquewhite;
                padding: 5px 5px;
                margin: 10px 10px;
            }
        }
    }
    
}

// bucles  para recomendaciones
// Titulos para recetas
@for $recipes from 1 to 4 {
    .recipes__#{$recipes} {
        font-size: 25px * $recipes;
    }
}



